p{
    font-style: italic;
    font-weight: 900;
}

.one{
    background: #b61f1f83;
}
#prime{
    text-decoration: line-through;
}
.two{
    background: rgb(196, 237, 179);
    color: rgb(8, 86, 254);
}
.bg{
    background: skyblue;
    border: 5px solid black;
    border-radius: 50px;
    margin: 10%;
    padding: 15px;
}

.three{
    background-color: rgb(121, 110, 110);
    color: blue;
}

